/* =======================================================
   🎨 CSS general de la web
======================================================= */
:root {
  --blanco: #e0e0e0;
  --blanco-2: rgba(255, 255, 255, 0.2);
  --negro: #181818;
  --negro-5: rgba(0, 0, 0, 0.5);
  --negro-7: rgba(0, 0, 0, 0.75);
  --tipo-titular: 'Playfair Display', serif;
  --tipo-principal: 'Inter', sans-serif;
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --blanco: #181818;
    --blanco-2: rgba(0, 0, 0, 0.2);
    --negro: #e0e0e0;
    --negro-5: rgba(255, 255, 255, 0.5);
    --negro-7: rgba(255, 255, 255, 0.75);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--tipo-principal);
  background-color: var(--negro);
  color: var(--blanco);
  min-height: 100vh;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
figure,
video {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

form,
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  display: block;
}



/* =======================================================
   📌 SECCIONES GENERALES
======================================================= */
section {
  width: 100%;
  min-height: 80vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

h2 {
  font-family: var(--tipo-titular);
  font-size: 3em;
  font-weight: 600;
  color: var(--blanco);
  text-align: center;
}

h3 {
  font-family: var(--tipo-titular);
  font-size: 2em;
  color: #6c63ff;
  text-align: center;
  margin: 1em 0;
}

h4 {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  color: #6c63ff;
  margin-bottom: 12px;
  line-height: 1.4;
}

p {
  font-size: 1.1em;
  text-align: justify;
  margin-bottom: 1.5em;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

li {
  margin: 0 1em;
}

a {
  display: inline-block;
  padding: 1em;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.5s ease;
}

a:hover {
  border-color: var(--blanco);
}


section {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.05);
}



/* =======================================================
   🖼️ GRIDS
======================================================= */
.grid {
  width: 90%;
  max-width: 40em;
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1em;
}





/* =======================================================
   🎯 PERSONALIZACIONES EXTRA (cursor, blobs, etc.)
======================================================= */
#cursor {
  width: 5em;
  height: 5em;
  background-color: var(--blanco);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
  border-radius: 50%;
  mix-blend-mode: difference;
}

#cursor.mini {
  transform: scale(0.7);
}
