

/* =======================================================
   🦶 FOOTER
======================================================= */
.footer {
    padding: 2em 0;
    text-align: center;
    color: var(--blanco);
    z-index: 2;
  }